body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.two-columns-row {
  display: flex;
  /* margin-bottom: 50px; */
}
.two-columns-column {
  flex: 50%;
}

@media screen and (max-width: 950px) {
  .two-columns-row,
  .two-columns-column {
    display: block;
  }
}

/* @media screen and (max-width: 500px) {
  .two-columns-row,
  .two-columns-column {
    display: flex;
    flex-wrap: wrap;
  }
} */
